@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    background: hsl(228, 33%, 97%);
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

button { cursor: pointer; }

p {
    color: hsl(211, 10%, 45%);
    font-size: 1.2rem;
}

/* FOOTER */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%); }

/* COMMENT */

.comment-card {
    margin: 20px;
    padding: 20px;
    background: white;
    display: grid;
    grid-template-areas: 
    'details details details'
    'content content content'
    'score . options'
    ;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;
    grid-area: details;
    gap: 5%;
}

.details h2 {
    color: hsl(212, 24%, 26%);
    font-size: 1.1rem;
}

/* .details * { margin-right: 1.25rem; } */

.profile-img { width: 12%; }

.content-container { grid-area: content; }

.options { grid-area: options; }

.options button {
    color: hsl(238, 40%, 52%);
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    background: inherit;
}

.score-container {
    grid-area: score;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.score-card {
    color: hsl(238, 40%, 52%);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    background: hsl(228, 33%, 97%);
    width: fit-content;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
}

.score-card button {
    border: none;
    padding: 0;
    background: inherit;
    font-size: 1.5rem;
}

.minus { padding: 0 15px 7px 10px; }

.score { padding: 10px; }

.plus { padding: 0 10px 4px 15px; }

@media only screen and (min-width: 600px) {
    .comment-card {
        grid-template-areas: 
        'score details . options'
        'score content content content'
        '. content content content'
        ;
        column-gap: 20px;
    }

    .score-card {
        height: fit-content;
        width: auto;
        flex-direction: column;
    }

    .plus { padding: 0; }

    .minus { padding: 0 0 10px; }
}